In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("country_full.csv")

In [3]:
data.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [4]:
data = data.dropna()

In [5]:
data.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
6,Angola,AO,AGO,24,ISO 3166-2:AO,Africa,Sub-Saharan Africa,Middle Africa,2.0,202.0,17.0
7,Anguilla,AI,AIA,660,ISO 3166-2:AI,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
9,Antigua and Barbuda,AG,ATG,28,ISO 3166-2:AG,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0
10,Argentina,AR,ARG,32,ISO 3166-2:AR,Americas,Latin America and the Caribbean,South America,19.0,419.0,5.0
12,Aruba,AW,ABW,533,ISO 3166-2:AW,Americas,Latin America and the Caribbean,Caribbean,19.0,419.0,29.0

In [8]:
data.shape

(106, 11)

In [10]:
def capitalige(text):
    return text.upper()

data['name'].apply(capitalige)

6                                  ANGOLA
7                                ANGUILLA
9                     ANTIGUA AND BARBUDA
10                              ARGENTINA
12                                  ARUBA
                      ...
240    VENEZUELA (BOLIVARIAN REPUBLIC OF)
242              VIRGIN ISLANDS (BRITISH)
243                 VIRGIN ISLANDS (U.S.)
247                                ZAMBIA
248                              ZIMBABWE
Name: name, Length: 106, dtype: object

In [12]:
data["region"].apply(lambda x: x.upper())

6        AFRICA
7      AMERICAS
9      AMERICAS
10     AMERICAS
12     AMERICAS
         ...
240    AMERICAS
242    AMERICAS
243    AMERICAS
247      AFRICA
248      AFRICA
Name: region, Length: 106, dtype: object